{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <a class="ndmc-logo" href="">
            <img alt="Brand" src="{% static 'img/ndmc-logo.jpeg' %}">
          </a>
          <p>Kindly complete this questionnaire accurately and truthfully. Your responses will be used for research purposes to assess employability and eventually, improve the curriculum of the programs offered in the College of Information Technology and Engineering, Notre Dame of Midsayap College. Results of this tracer study will only be presented in summary form and your answers to this survey will be treated with utmost confidentiality. Thank you very much!</p>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          FORM
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form method="POST" class="post-form" role="form">{% csrf_token %}
                <div class="panel-heading">
                  <b>1. PERSONAL INFORMATION</b> 
                </div><hr>
                <div class="form-group">
                  <label>Last Name: </label>
                  <input class="form-control" type="text" name="last_name" required id="id_last_name" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <label>First Name: </label>
                  <input class="form-control" type="text" name="first_name" required id="id_first_name" placeholder="First Name">
                </div>
                <div class="form-group">
                  <label>Middle Name: </label>
                  <input class="form-control" type="text" name="middle_name" required id="id_middle_name" placeholder="Middle Name">
                </div>
                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control" name="gender" required id="id_gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Birth Date: </label>
                  <input class="form-control date-picker" type="text" data-lang="en" data-theme="my-style" name="date_of_birth" required id="id_date_of_birth" placeholder="Birth Date">
                </div>
                <div class="form-group">
                  <label>Civil Status :</label>
                  <select class="form-control" name="civil_status" required id="id_civil_status">
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Separated">Separated</option>
                    <option value="Widowed">Widowed</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Email : </label>
                  <input type="email" class="form-control" name="email" required id="id_email" placeholder="eg. example_9@gmail.com">
                </div>             
                <div class="form-group">
                  <label>Mobile/Phone Numbers : </label>
                  <input class="form-control" type="number" name="mobile_number" required id="id_mobile_number" placeholder="eg. 090912345678">
                </div>
                <div class="panel-heading"><hr>
                  <b>2. ADDRESS </br>&nbsp&nbsp A. PRESENT ADDRESS</b>
                </div><hr>
                <div class="form-group">
                  <label>Street Address: </label>
                  <textarea class="form-control" name="a_street_adress" required id="id_a_street_adress" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>Address Line 2: </label>
                  <textarea class="form-control" name="a_address_line_2" required id="id_a_address_line_2" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>City : </label>
                  <input class="form-control" type="text" name="a_city" required id="id_a_city" placeholder="City">
                </div>
                <div class="form-group">
                  <label>State/Province/Region : </label>
                  <input class="form-control" type="text" name="a_state_province_region" required id="id_a_state_province_region" placeholder="State/Province/Region">
                </div>
                <div class="form-group">
                  <label>ZIP/Postal Code : </label>
                  <input class="form-control" type="text" name="a_zip_code" required id="id_a_zip_code" placeholder="ZIP/Postal Code">
                </div>
                <div class="form-group">
                  <label>Country : </label>
                  <input class="form-control" type="text" name="a_country" required id="id_a_country" placeholder="Country">
                </div>
                <div class="panel-heading">
                  <b>&nbsp&nbsp B. PERMANENT ADDRESS</b>
                </div>
                <div class="form-group">
                  <label>Street Address: </label>
                  <textarea class="form-control" name="b_street_adress" required id="id_b_street_adress" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>Address Line 2: </label>
                  <textarea class="form-control" name="b_address_line_2" required id="id_b_address_line_2" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>City : </label>
                  <input class="form-control" type="text" name="b_city" required id="id_b_city" placeholder="City">
                </div>
                <div class="form-group">
                  <label>State/Province/Region : </label>
                  <input class="form-control" type="text" name="b_state_province_region" required id="id_b_state_province_region" placeholder="State/Province/Region">
                </div>
                <div class="form-group">
                  <label>ZIP/Postal Code : </label>
                  <input class="form-control" type="text" name="b_zip_code" required id="id_b_zip_code" placeholder="ZIP/Postal Code">
                </div>
                <div class="form-group">
                  <label>Country : </label>
                  <input class="form-control" type="text" name="b_country" required id="id_b_country" placeholder="Country">
                </div>
                <div class="panel-heading"><hr>
                  <b>3. SOCIAL NETWORK ID</b>
                </div><hr>
                <div class="form-group">
                  <label>Facebook : </label>
                  <input class="form-control" type="text" name="facebook_account" required id="id_facebook_account" placeholder="Facebook">
                </div>
                <div class="form-group">
                  <label>Twitter : </label>
                  <input class="form-control" type="text" name="twitter_account" required id="id_twitter_account" placeholder="Twitter">
                </div>
                <div class="panel-heading"><hr>
                  <b>4. EDUCATIONAL BACKGROUND</b>
                </div><hr>
                <div class="form-group course-list">
                  <label>Course Finished : </label>
                   {{ form.course }}
                </div>
                <div class="form-group">
                  <label>Date Graduated: </label>
                  <input class="form-control date-picker" type="text" data-lang="en" data-theme="my-style" name="date_graduated" required id="id_date_graduated" placeholder="Date Graduated">
                </div>
                <div class="panel-heading"><hr>
                  <b>5. EMPLOYMENT INFORMATION</br>&nbsp&nbsp A. EMPLOYER'S DETAILS</b>
                </div><hr>
                <div class="form-group">
                  <label>&nbsp&nbsp i. Name of Organization/Employer : </label>
                  <input class="form-control" type="text" name="organization_or_employer" id="id_organization_or_employer" placeholder="Name of Organization/Employer">
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp ii. Address of Organization/Employer : </label>
                  <input class="form-control" type="text" name="address_organization_or_employer" id="id_address_organization_or_employer" placeholder="Name of Organization/Employer">
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp ii. Type of Organization : </label>
                  <label class="radio-inline">
                    <input type="radio" name="type_of_organization" id="id_type_of_organization_0" value="Private" required>Private
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="type_of_organization" id="id_type_of_organization_1" value="Public">Public 
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="type_of_organization" id="id_type_of_organization_2" value="NGO">NGO 
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="type_of_organization" id="id_type_of_organization_3" value="Non-Profit">Non-Profit 
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp iii. Employment Type : </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="employment_type" id="id_employment_type_0" value="Working Fulltime" required>Working Fulltime
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="employment_type" id="id_employment_type_1" value="Working Part-time">Working Part-time 
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="employment_type" id="id_employment_type_2" value="Working Part-time but seeking fulltime work ">Working Part-time but seeking fulltime work  
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="employment_type" id="id_employment_type_3" value="Non-Working part-time but not seeking fulltime work">Working part-time but not seeking fulltime work
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp iv. Occupational Classification : </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_0" value="Official of Government and Special-Interest Organizations" required>Official of Government and Special-Interest Organizations
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_1" value="Corporate Executive or Manager ">Corporate Executive or Manager
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_2" value="Managing Proprietor or Supervisor">Managing Proprietor or Supervisor
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_3" value="Technician or Associate Professional">Technician or Associate Professional
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_4" value="Clerk">Clerk
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_5" value="Service Worker or Shop and Market Sales Worker">Service Worker or Shop and Market Sales Worker
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_6" value="Farmer or Forestry Worker or Fisherman">Farmer or Forestry Worker or Fisherman
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_7" value="Trader or Related Worker">Trader or Related Worker
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_8" value="Plant and Machine Operator and Assembler">Plant and Machine Operator and Assembler
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_9" value="Laborer or Unskilled Worker">Laborer or Unskilled Worker
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="occupational_classification" id="id_occupational_classification_10" value="Special Occupation">Special Occupation
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp v. Is your current job related to the course you took up in College of I.T. & Engr.</label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="related_job" id="id_related_job_0" value="Yes" required>Yes
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="related_job" id="id_related_job_1" value="No">No
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp vi. Number of years in the company:</label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_year_company" id="id_number_year_company_0" value="1 below" required>1 below
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_year_company" id="id_number_year_company_1" value="1-5">1-5
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_year_company" id="id_number_year_company_2" value="6-10">6-10
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_year_company" id="id_number_year_company_3" value="11-15">11-15
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_year_company" id="id_number_year_company_4" value="16-20">16-20
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_year_company" id="id_number_year_company_5" value="21-25">21-25
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_year_company" id="id_number_year_company_6" value="25 above">25 above
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp vii. Place of work: </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="place_of_work" id="id_place_of_work_0" value="Local" required>Local
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="place_of_work" id="id_place_of_work_1" value="Abroad">Abroad
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp viii. Is this your first job after finishing your graduate degree:</label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="finish_graduate_degree" id="id_finish_graduate_degree_0" value="Yes" required>Yes
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="finish_graduate_degree" id="id_finish_graduate_degree_1" value="No">No
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>ix. Please state your reasons for staying on the job: </label>
                  <textarea class="form-control" name="reason_staying_job" required id="id_reason_staying_job" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>x. Designation: </label>
                  <input class="form-control" type="text" name="designation" required id="id_designation">
                </div>
                <div class="form-group">
                  <label>xi. Department/Division: </label>
                  <input class="form-control" type="text" name="department_division" required id="id_department_division">
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp xii. Status:</label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="job_status" id="id_job_status_0" value="Permanent" required>Permanent
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="job_status" id="id_job_status_1" value="Contractual">Contractual
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="job_status" id="id_job_status_2" value="Casual">Casual
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp xiii. Monthly Income Range:</label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_range_income" id="id_monthly_range_income_0" value="Below 10,000" required>Below 10,000
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_range_income" id="id_monthly_range_income_1" value="10,000-20,000">10,000-20,000
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_range_income" id="id_monthly_range_income_2" value="21,000-30,000">21,000-30,000
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp iv. Were you working while pursuing your degree at NDMC:</label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="persuing_degree_ndmc" id="id_persuing_degree_ndmc_0" value="Yes" required>Yes
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="persuing_degree_ndmc" id="id_persuing_degree_ndmc_1" value="No">No
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>xv. If not, how long did it take you to find a job after obtaining your degree from NDMC?: </label>
                  <textarea class="form-control" name="obtaining_degree_ndmc" required id="id_obtaining_degree_ndmc" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp xvi. How did you come to know about your current job? </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="current_job" id="id_current_job_0" value="Through friends" required>Through friends
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="current_job" id="id_current_job_1" value="Through relatives">Through relatives
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="current_job" id="id_current_job_2" value="Through written enquiries">Through written enquiries
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="current_job" id="id_current_job_3" value="Advertisement in media">Advertisement in media
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label> xvi. Please give reasons for any time gap between obtaining your degree and your first employment: </label>
                  <textarea class="form-control" name="first_employment" required id="id_first_employment" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp xvii. Is your work related to your course? </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="work_related_course" id="id_work_related_course_0" value="Yes" required>Yes
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="work_related_course" id="id_work_related_course_1" value="No">No
                  </label><br>&nbsp&nbsp
                </div>
                <div class="panel-heading"><hr>
                  <b>B. IN THE CASE OF SELF EMPLOYMENT</b>
                </div><hr>
                <div class="form-group">
                  <label>&nbsp&nbsp&nbsp&nbsp i. Nature of Employment: </label>
                  <input class="form-control" type="text" name="nature_of_employment" required id="id_nature_of_employment">
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp ii. Number of Years: </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_of_years" id="id_number_of_years_0" value="0-5" required>0-5
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_of_years" id="id_number_of_years_1" value="6-10 ">6-10 
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_of_years" id="id_number_of_years_2" value="10-15">10-15
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="number_of_years" id="id_number_of_years_3" value="16 above">16 above
                  </label><br>&nbsp&nbsp
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp ii. Monthly Income Range: </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_income_range" id="id_monthly_income_range_0" value="Below 10,000" required>Below 10,000
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_income_range" id="id_monthly_income_range_1" value="10,000-20,000 ">10,000-20,000 
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_income_range" id="id_monthly_income_range_2" value="21,000-30,000 ">21,000-30,000 
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_income_range" id="id_monthly_income_range_3" value="31,000-40,000">31,000-40,000
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_income_range" id="id_monthly_income_range_4" value="41,000-50,000">41,000-50,000
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_income_range" id="id_monthly_income_range_5" value="51,000-60,000">51,000-60,000
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_income_range" id="id_monthly_income_range_6" value="61,000-70,000">61,000-70,000
                  </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="monthly_income_range" id="id_monthly_income_range_7" value="71,000 above">71,000 above
                  </label><br>&nbsp&nbsp
                </div>
                <div class="panel-heading"><hr>
                  <b>C. IN THE CASE OF UNEMPLOYED</b>
                </div><hr>
                <div class="form-group">
                  <label> i. Please state your reason(s) why you are unemployed:</label>
                  <textarea class="form-control" name="reason_of_unemployed" required id="id_reason_of_unemployed" rows="3"></textarea>
                </div>
                <div class="panel-heading"><hr>
                  <b>6. HOW WOULD YOU RATE THE CONTRIBUTION OF THE PROGRAM OF YOUR STUDY AT THE NDMC TO YOUR PERSONAL AND PROFESSIONAL GROWTH IN TERMS OF THE FOLLOWING:
                  (1-poorly 2-fairly 3-highly 4-very highly)</b>
                </div><hr>
                <div class="form-group">
                  <label>&nbsp&nbsp A. Academic Profession: </label>
                  <label class="radio-inline">
                    <input type="radio" name="academic_professional" id="id_academic_professional_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="academic_professional" id="id_academic_professional_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="academic_professional" id="id_academic_professional_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="academic_professional" id="id_academic_professional_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp B. Research Capability: </label>
                  <label class="radio-inline">
                    <input type="radio" name="research_capability" id="id_research_capability_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="research_capability" id="id_research_capability_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="research_capability" id="id_research_capability_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="research_capability" id="id_research_capability_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp C. Learning Efficiency: </label>
                  <label class="radio-inline">
                    <input type="radio" name="learning_efficiency" id="id_learning_efficiency_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="learning_efficiency" id="id_learning_efficiency_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="learning_efficiency" id="id_learning_efficiency_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="learning_efficiency" id="id_learning_efficiency_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp D. Communication Skills: </label>
                  <label class="radio-inline">
                    <input type="radio" name="communication_skills" id="id_communication_skills_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="communication_skills" id="id_communication_skills_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="communication_skills" id="id_communication_skills_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="communication_skills" id="id_communication_skills_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp E. People Skills: </label>
                  <label class="radio-inline">
                    <input type="radio" name="people_skills" id="id_people_skills_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="people_skills" id="id_people_skills_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="people_skills" id="id_people_skills_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="people_skills" id="id_people_skills_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp F. Problem Solving Skills: </label>
                  <label class="radio-inline">
                    <input type="radio" name="problem_solving_skills" id="id_problem_solving_skills_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="problem_solving_skills" id="id_problem_solving_skills_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="problem_solving_skills" id="id_problem_solving_skills_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="problem_solving_skills" id="id_problem_solving_skills_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp G. Information Technology Skills: </label>
                  <label class="radio-inline">
                    <input type="radio" name="information_technology_skills" id="id_information_technology_skills_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="information_technology_skills" id="id_information_technology_skills_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="information_technology_skills" id="id_information_technology_skills_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="information_technology_skills" id="id_information_technology_skills_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp H. Meeting Present and Future Professional Needs: </label>
                  <label class="radio-inline">
                    <input type="radio" name="meeting_present" id="id_meeting_present_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="meeting_present" id="id_meeting_present_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="meeting_present" id="id_meeting_present_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="meeting_present" id="id_meeting_present_3" value="4">4
                  </label>
                </div>

                <div class="form-group">
                  <label>&nbsp&nbsp H. Exposure to Local Community within Field of Specialization: </label>
                  <label class="radio-inline">
                    <input type="radio" name="local_community" id="id_local_community_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="local_community" id="id_local_community_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="local_community" id="id_local_community_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="local_community" id="id_local_community_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp J. Exposure to International Community within Field of Specialization: </label><br>&nbsp&nbsp
                  <label class="radio-inline">
                    <input type="radio" name="international_community" id="id_international_community_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="international_community" id="id_international_community_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="international_community" id="id_international_community_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="international_community" id="id_international_community_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp K. Critical Thinking Skills: </label>
                  <label class="radio-inline">
                    <input type="radio" name="critical_thinking_skills" id="id_critical_thinking_skills_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="critical_thinking_skills" id="id_critical_thinking_skills_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="critical_thinking_skills" id="id_critical_thinking_skills_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="critical_thinking_skills" id="id_critical_thinking_skills_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp L. Salary Improvement and Promotion: </label>
                  <label class="radio-inline">
                    <input type="radio" name="salary_improvement" id="id_salary_improvement_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="salary_improvement" id="id_salary_improvement_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="salary_improvement" id="id_salary_improvement_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="salary_improvement" id="id_salary_improvement_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp M. Opportunities Abroad: </label>
                  <label class="radio-inline">
                    <input type="radio" name="opportunities_abroad" id="id_opportunities_abroad_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="opportunities_abroad" id="id_opportunities_abroad_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="opportunities_abroad" id="id_opportunities_abroad_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="opportunities_abroad" id="id_opportunities_abroad_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp N. Personality Development : </label>
                  <label class="radio-inline">
                    <input type="radio" name="personality_development" id="id_personality_development_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="personality_development" id="id_personality_development_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="personality_development" id="id_personality_development_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="personality_development" id="id_personality_development_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp O. Values Formation : </label>
                  <label class="radio-inline">
                    <input type="radio" name="values_formation" id="id_values_formation_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="values_formation" id="id_values_formation_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="values_formation" id="id_values_formation_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="values_formation" id="id_values_formation_3" value="4">4
                  </label>
                </div>
                <div class="panel-heading"><hr>
                  <b>7. HOW WOULD YOU RATE THE DEGREE PROGRAM YOU FINISHED AT THE NDMC IN TERMS OF: (1-poorly 2-fairly 3-highly 4-very highly)</b>
                </div><hr>
                <div class="form-group">
                  <label>&nbsp&nbsp A. Range of Courses : </label>
                  <label class="radio-inline">
                    <input type="radio" name="range_of_courses" id="id_range_of_courses_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="range_of_courses" id="id_range_of_courses_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="range_of_courses" id="id_range_of_courses_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="range_of_courses" id="id_range_of_courses_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp B. Relevance to your Profession : </label>
                  <label class="radio-inline">
                    <input type="radio" name="relevance_profession" id="id_relevance_profession_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="relevance_profession" id="id_relevance_profession_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="relevance_profession" id="id_relevance_profession_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="relevance_profession" id="id_relevance_profession_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp C. Extracurricular Activities : </label>
                  <label class="radio-inline">
                    <input type="radio" name="extracurricular_activities" id="id_extracurricular_activities_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="extracurricular_activities" id="id_extracurricular_activities_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="extracurricular_activities" id="id_extracurricular_activities_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="extracurricular_activities" id="id_extracurricular_activities_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp D. Premium Given to Research : </label>
                  <label class="radio-inline">
                    <input type="radio" name="premium_given_research" id="id_premium_given_research_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="premium_given_research" id="id_premium_given_research_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="premium_given_research" id="id_premium_given_research_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="premium_given_research" id="id_premium_given_research_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp E. Interdisciplinary Learning : </label>
                  <label class="radio-inline">
                    <input type="radio" name="interdisciplinary_learning" id="id_interdisciplinary_learning_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="interdisciplinary_learning" id="id_interdisciplinary_learning_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="interdisciplinary_learning" id="id_interdisciplinary_learning_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="interdisciplinary_learning" id="id_interdisciplinary_learning_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp F. Teaching and Learning Environment : </label>
                  <label class="radio-inline">
                    <input type="radio" name="teaching_learning" id="id_teaching_learning_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="teaching_learning" id="id_teaching_learning_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="teaching_learning" id="id_teaching_learning_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="teaching_learning" id="id_teaching_learning_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp G. Quality of Instruction : </label>
                  <label class="radio-inline">
                    <input type="radio" name="quality_instruction" id="id_quality_instruction_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="quality_instruction" id="id_quality_instruction_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="quality_instruction" id="id_quality_instruction_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="quality_instruction" id="id_quality_instruction_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp H. Teacher-Student Relationships : </label>
                  <label class="radio-inline">
                    <input type="radio" name="teacher_student_relationships" id="id_teacher_student_relationships_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="teacher_student_relationships" id="id_teacher_student_relationships_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="teacher_student_relationships" id="id_teacher_student_relationships_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="teacher_student_relationships" id="id_teacher_student_relationships_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp  I. Library Resources : </label>
                  <label class="radio-inline">
                    <input type="radio" name="library_resources" id="id_library_resources_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="library_resources" id="id_library_resources_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="library_resources" id="id_library_resources_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="library_resources" id="id_library_resources_3" value="4">4
                  </label>
                </div>               
                <div class="form-group">
                  <label>&nbsp&nbsp  J. Laboratory Resources : </label>
                  <label class="radio-inline">
                    <input type="radio" name="laboratory_resources" id="id_laboratory_resources_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="laboratory_resources" id="id_laboratory_resources_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="laboratory_resources" id="id_laboratory_resources_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="laboratory_resources" id="id_laboratory_resources_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp  K. Class Size : </label>
                  <label class="radio-inline">
                    <input type="radio" name="class_size" id="id_class_size_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="class_size" id="id_class_size_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="class_size" id="id_class_size_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="class_size" id="id_class_size_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp  L. Professor's Pedagogical Expertise : </label>
                  <label class="radio-inline">
                    <input type="radio" name="professors_pedagogical" id="id_professors_pedagogical_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="professors_pedagogical" id="id_professors_pedagogical_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="professors_pedagogical" id="id_professors_pedagogical_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="professors_pedagogical" id="id_professors_pedagogical_3" value="4">4
                  </label>
                </div>
                <div class="form-group">
                  <label>&nbsp&nbsp  M. Professor's Knowledge of Subject Matter : </label>
                  <label class="radio-inline">
                    <input type="radio" name="professors_knowledge" id="id_professors_knowledge_0" value="1" required>1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="professors_knowledge" id="id_professors_knowledge_1" value="2">2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="professors_knowledge" id="id_professors_knowledge_2" value="3">3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="professors_knowledge" id="id_professors_knowledge_3" value="4">4
                  </label>
                </div>
                <div class="panel-heading"><hr>
                  <b>8. IF PURSUING FURTHER STUDIES</b>
                </div><hr>
                <div class="form-group">
                  <label>A. Degree Program: </label>
                  <input class="form-control" type="text" name="degree_program" required id="id_degree_program" >
                </div>
                <div class="form-group">
                  <label>B. Reasons for pursuing further studies: </label>
                  <input class="form-control" type="text" name="pursuing_further_studies" required id="id_pursuing_further_studies" >
                </div>
                <div class="form-group">
                  <label><b>9. IF NOT PURSUING FURTHER STUDIES, Please state your reason: </b></label>
                  <textarea class="form-control" name="not_pursuing_further_studies" required id="id_not_pursuing_further_studies" rows="3"></textarea>
                </div>
                <div class="panel-heading"><hr>
                  <b>10. Contact Address/s of your classmates/s and batch mates, who had graduated in the same year you had graduated: [Note: Please provide contact address of your colleagues whom you know from your batch. This will help us to effectively complete this tracer study.]</b>
                </div><hr>
                <table style="width: 120%">
                  <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Contact No.</th>
                    <th>Email ID</th>
                    <th>Social Network ID </th>
                  </tr>
                </table>
                <div class="form-inline" style="padding-left: 30px">
                  <input class="form-control" type="text" name="name_1"  id="id_name_1" style="width: 100px">
                  <input class="form-control" type="text" name="contact_1"  id="id_contact_1" style="width: 100px">
                  <input class="form-control" type="email" name="email_id_1"  id="id_email_id_1" style="width: 200px">
                  <input class="form-control" type="text" name="social_network_id_1"  id="id_social_network_id_1" style="width: 150px">
                </div>
                <div class="form-inline" style="padding: 5px 10px 10px 30px">
                  <input class="form-control" type="text" name="name_2"  id="id_name_2" style="width: 100px">
                  <input class="form-control" type="text" name="contact_2"  id="id_contact_2" style="width: 100px">
                  <input class="form-control" type="email" name="email_id_2"  id="id_email_id_2" style="width: 200px">
                  <input class="form-control" type="text" name="social_network_id_2"  id="id_social_network_id_2" style="width: 150px">
                </div>
                <div class="form-inline" style="padding: 0px 10px 10px 30px">
                  <input class="form-control" type="text" name="name_3"  id="id_name_3" style="width: 100px">
                  <input class="form-control" type="text" name="contact_3"  id="id_contact_3" style="width: 100px">
                  <input class="form-control" type="email" name="email_id_3"  id="id_email_id_3" style="width: 200px">
                  <input class="form-control" type="text" name="social_network_id_3"  id="id_social_network_id_3" style="width: 150px">
                </div>
                <div class="form-inline" style="padding: 0px 10px 10px 30px">
                  <input class="form-control" type="text" name="name_4"  id="id_name_4" style="width: 100px">
                  <input class="form-control" type="text" name="contact_4"  id="id_contact_4" style="width: 100px">
                  <input class="form-control" type="email" name="email_id_4"  id="id_email_id_4" style="width: 200px">
                  <input class="form-control" type="text" name="social_network_id_4"  id="id_social_network_id_4" style="width: 150px">
                </div>
                <div class="form-inline" style="padding: 0px 10px 10px 30px">
                  <input class="form-control" type="text" name="name_5"  id="id_name_5" style="width: 100px">
                  <input class="form-control" type="text" name="contact_5"  id="id_contact_5" style="width: 100px">
                  <input class="form-control" type="email" name="email_id_5"  id="id_email_id_5" style="width: 200px">
                  <input class="form-control" type="text" name="social_network_id_5"  id="id_social_network_id_5" style="width: 150px">
                </div>
                
                <div class="panel-heading"><hr>
                  <b style="font-size: 26px">God Bless and Thank you very much!</b>
                </div>

                <div class="panel-heading">
                  <b style="font-size: 22px">Michaelangelo R. Serrano, MIM</b><br>
                  <p>Faculty, College of I.T. and Engineering</p>
                </div>
                

                
                <button type="submit" class="btn btn-default">Submit Button</button>
                <button type="reset" class="btn btn-default">Reset Button</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#wrapper -->

<!-- {{ form.as_p }} -->

{% endblock content %}