.title{
  text-align: center;
}
.pdf{
  width: 100%;
  border-radius: 5px;
}
.search-box {
  width: 100%;
  position: relative;
}
 .search{
 padding-top: 10px;
  text-align: center;
}
.search input[type="text"]{
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12pt;
  margin: 0px;
}
 
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

 
 
 

 
@media (max-width: 1000px){
  .navbars{
    margin-top:20px;
    width: 104%; 
    margin-left: -10px;
  }
  .pdf{
    margin-left: -10px;
    width: 104%;
    left: 0;
    right: 0;
    height: 300px;
 
  }
  .search{
    width: 90%
  }
  .navbar-collapse .active{
    margin-left: -4px;
    margin-right: 5px;
    right: 0;
    left: 0;
  }
  #sidebar .navbars{
    width: 0px;
  }