.title{
  text-align: center;
}
.head{
  text-align: center;
  text-decoration: underline;
}
.pdf{
  width: 100%;
  border-radius: 5px;
  z-index: -1;
}
.search-box {
  width: 100%;
  position: relative;
}
 .search{
  padding-top: 10px;
  text-align: center;
}
.search input[type="text"]{
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12pt;
  margin: 0px;
}
 
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
 
.title img {
  border: 1px solid #ddd; 
  border-radius: 4px;  
  padding: 5px; 
  width: 150px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
 
@media (max-width: 1000px){
  #content{
    margin: 10px;
    left: 0;
    right: 0;
    margin-bottom: 50px;
  }
  #content .navbar-header{
    left: 0;
    right: 0;
  }
  #content .navbars{
    left: 0;
    right: 0;
    width: 100%;
    margin-left: -25px;
    margin-right: 320px;

  }
  #content .pdf{
    margin-left: -25px;
  }
 
  #bs-example-navbar-collapse-1{
  left: 0;
  right: 0;
  margin-right: -200px;
  }
  #bs-example-navbar-collapse-1 .search{
    width: 100%;
  }
  .navbar-collapse{
    width: 110%;
  }
  #content .pdf{
    z-index: -1;
  }

  }