{% load staticfiles %}
<!DOCTYPE html>
<html lang=en>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/3.3/favicon.ico">
    <link rel="shortcut icon" href="http://ndmc.edu.ph/misc/favicon.ico" type="image/vnd.microsoft.icon">
    <title>NDMC Alumni Tracer and Research Repository</title>
    {% include 'snippets/css.html'%}
  </head>
  <body>
    <header>
    <!-- Start nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">
            <img alt="Brand" src="http://ndmc.edu.ph/misc/favicon.ico">
          </a>
          <a class="navbar-brand navbar-resize" href="">NDMC Alumni Tracer and Research Repository</a>
        </div>
        <div id="navbar" class="navbar-collapse navbar-right collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Alumni Tracer</a></li>
            <li><a href="#">Research Repository</a></li>
            <li class="dropdown">
            <a href="https://getbootstrap.com/docs/3.3/examples/carousel/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://getbootstrap.com/docs/3.3/examples/carousel/#">Action</a></li>
              <li><a href="https://getbootstrap.com/docs/3.3/examples/carousel/#">Another action</a></li>
              <li><a href="https://getbootstrap.com/docs/3.3/examples/carousel/#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="https://getbootstrap.com/docs/3.3/examples/carousel/#">Separated link</a></li>
              <li><a href="https://getbootstrap.com/docs/3.3/examples/carousel/#">One more separated link</a></li>
            </ul>
            </li>
          </ul>
          <button type="button" class="btn btn-sign-in navbar-btn navbar-right btn-layout button" data-toggle="modal" data-target="#myModal">
          <span>Sign in</span>
          </button>
        </div>
      </div>
    </nav>
    <!-- End nav -->
    
    <!-- Start modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign in</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
              <label for="exampleInputUsername">Username</label>
              <input type="username" class="form-control" id="exampleInputUsername" placeholder="Username">
              </div>
              <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="footer-modal-social">
              <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            </div>
            <button type="button" class="btn btn-sign-in navbar-btn navbar-right btn-layout button footer-modal-btn" data-dismiss="modal">
            <span>Close</span>
            </button>
            <button type="submit" class="btn btn-sign-in navbar-btn navbar-right btn-layout button footer-modal-btn">
            <span>Login</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End modal -->
    
  </header>
    {% block content %}{% endblock content %}
    {% include 'snippets/js.html' %}
  </body>
</html>