{% extends "base.html" %}
{% load staticfiles %}
{% block content %} 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3 class="title">{{post.title}}</h3>
    </div>
    <ul class="list-unstyled components">
      <p>{{post.title}}</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">{{post.author.lastname}} {{post.author.firstname}}</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><p>Course: {{post.author.course}}</p></li>
          <li><a href="#">Home 2</a></li>
          <li><a href="#">Home 3</a></li>
        </ul>
      </li>
        <li>
          <a href="#">About</a>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Portfolio</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
    </ul>
    <ul class="list-unstyled CTAs">
      <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
      <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
    </ul>
  </nav>
    <div id="content">
      <nav class="navbars navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="navbars-btn">
            <span></span>
            <span></span>
            <span></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only"> </span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="search">
                <form class="navbar-form">
                  <div class="form-group" >
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                  </div>
                </form>
              </div>
           </div>
        </div>
      </nav>
      
      <div class=pdf>
              <embed   
              src="{{post.file.url}}" 
              width="" height="380" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" 
              background-color="0xFF525659" top-toolbar-height="220" full-frame="200" internalinstanceid="2100" >
            </div>
    </div>
  </div>
</body>  
{% endblock %}